{{#section 'javascript'}}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="./plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="./assets/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="./plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="./js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="./js/waves.js"></script>
<!--Counter js -->
<script src="./plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="./plugins/bower_components/counterup/jquery.counterup.min.js"></script>
<!-- chartist chart -->
<script src="./plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
<script src="./plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
<!-- Sparkline chart JavaScript -->
<script src="./plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="./js/custom.min.js"></script>
<script src="./js/dashboard1.js"></script>
<script src="./plugins/bower_components/toast-master/js/jquery.toast.js"></script>
{{/section}}

{{#section 'css'}}
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{!-- <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> --}}
<!-- Menu CSS -->
<link href="./plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
<!-- toast CSS -->
<link href="./plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
<!-- morris CSS -->
<link href="./plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
<!-- chartist CSS -->
<link href="./plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
<link href="./plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css"
    rel="stylesheet">
<!-- animation CSS -->
<link href="./css/animate.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="./css/style.css" rel="stylesheet">
<!-- color CSS -->
<link href="./css/colors/default.css" id="theme" rel="stylesheet">
{{/section}}
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header">
            <div class="top-left-part">
                <!-- Logo -->
                <a class="logo" href="/quanly">
                    <!-- Logo icon image, you can use font-icon also -->
                    <b>
                        <!--This is dark logo icon-->
                        <img src="./plugins/images/admin-logo.png" alt="home" class="dark-logo" />
                        <!--This is light logo icon-->
                        <img src="./plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                    </b>
                    <!-- Logo text image you can use text also -->
                    <span class="hidden-xs">
                        <!--This is dark logo text-->
                        <img src="./plugins/images/admin-text.png" alt="home" class="dark-logo" />
                        <!--This is light logo text-->
                        <img src="./plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
                    </span>
                </a>
            </div>
            <!-- /Logo -->
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li>
                    <a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg"
                        href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                </li>
                <li>
                    <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                        <input type="text" placeholder="Search..." class="form-control">
                        <a href="">
                            <i class="fa fa-search"></i>
                        </a>
                    </form>
                </li>
                <li>
                    <a class="profile-pic" href="#"> <img src="./plugins/images/users/varun.jpg" alt="user-img"
                            width="36" class="img-circle"><b class="hidden-xs">Steave</b></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- End Top Navigation -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav slimscrollsidebar">
            <div class="sidebar-head">
                <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Người
                        quản lý</span></h3>
            </div>
            <ul class="nav" id="side-menu">
                <li style="padding: 70px 0 0;">
                    <a href="/quanly" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Quản lý
                        chung</a>
                </li>
                <li>
                    <a href="/canhan" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Thông tin
                        cá nhân</a>
                </li>
                {{!-- <li>
                        <a href="/quanly/thongke" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Bảng thống kê</a>
                    </li>
                   
                    <li>
                        <a href="/quanly/bando" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>Bản đồ</a>
                    </li> --}}

            </ul>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Left Sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page Content -->
    <!-- ============================================================== -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Quản lý chung</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <a href="https://wrappixel.com/templates/ampleadmin/" target="_blank"
                        class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Upgrade to
                        Pro</a>
                    <ol class="breadcrumb">
                        <li><a href="/quanly">Quản lý</a></li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <!-- ============================================================== -->
            <!-- Different data widgets -->
            <!-- ============================================================== -->
            <!-- .row -->
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Tổng sản phẩm</h3>
                        <ul class="list-inline two-part">
                            <li>
                                <div id="sparklinedash"></div>
                            </li>
                            <li class="text-right"><i class="ti-arrow-up text-success"></i> <span
                                    class="counter text-success">{{countPro}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Tổng số người dùng</h3>
                        <ul class="list-inline two-part">
                            <li>
                                <div id="sparklinedash2"></div>
                            </li>
                            <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span
                                    class="counter text-purple">{{buyer}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Tổng người bán</h3>
                        <ul class="list-inline two-part">
                            <li>
                                <div id="sparklinedash3"></div>
                            </li>
                            <li class="text-right"><i class="ti-arrow-up text-info"></i> <span
                                    class="counter text-info">{{seller}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/.row -->
            <!--row -->
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="white-box">
                        <h3 class="box-title">Sản phẩm bán trong tháng</h3>
                        <ul class="list-inline text-right">
                            <li>
                                <h5><i class="fa fa-circle m-r-5 text-info"></i>Sản phẩm nhập</h5>
                            </li>
                            <li>
                                <h5><i class="fa fa-circle m-r-5 text-inverse"></i>Sản phẩm xuất</h5>
                            </li>
                        </ul>
                        <div id="ct-visits" style="height: 405px;"></div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- table -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                            <select class="form-control pull-right row b-none">
                                <option>March 2017</option>
                                <option>April 2017</option>
                                <option>May 2017</option>
                                <option>June 2017</option>
                                <option>July 2017</option>
                            </select>
                        </div>
                        <h3 class="box-title">Danh mục loại sách</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên loại sách</th>
                                        <th>Quản lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each cats}}
                                    <tr>
                                        <td>{{ma_so}}</td>
                                        <td class="txt-oflo">{{ten}}</td>
                                        <td>
                                            {{!-- <a href="/quanly/sua/{{ma_so}}" class="btn btn-sm btn-success">sửa</a> --}}
                                            <a href="/quanly/xoa/{{ma_so}}" class="btn btn-sm btn-danger">xóa</a>
                                            <a href="#sualoai" class="btn btn-success" data-toggle="modal"> <span>sửa</span></a>
                                        </td>

                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{!-- <a href="#addEmployeeModal" class="btn btn-sm btn-danger">thêm mới loại sách</a> --}}
                            <a href="#themloai" class="btn btn-success" data-toggle="modal"> <span>Thêm loại sản phẩm</span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by wrappixel.com </footer>
    </div>
    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- Edit Modal HTML -->
<div id="themloai" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/quanly/them" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm loại sách</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên loại</label>
                        <input type="text" name="nameCat" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Tên cửa hàng</label>
                        <input class="form-control" name="nameStore" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <input type="submit" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->
<div id="sualoai" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/quanly/them" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa loại sách</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>mã số</label>
                        <input type="text" class="form-control" value="1" required>
                    </div>
                    <div class="form-group">
                        <label>Tên loại</label>
                        <input type="text" class="form-control" value="sach" required>
                    </div>
                    <div class="form-group">
                        <label>Tên cửa hàng</label>
                        <textarea class="form-control" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <input type="submit" class="btn btn-success" value="Thêm">
                </div>
            </form>
        </div>
    </div>
</div>